@font-face {
    font-family: 'Caveat';
    src: url(./Caveat-Regular.ttf);
}

@font-face {
    font-family: 'Sen';
    src: url(./fonts/Sen/Sen-VariableFont_wght.ttf);
}

@keyframes SlideToTheRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

@keyframes SlideToTheLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

@keyframes SlideUp {
    from {
        transform: translateY(80px);
        opacity: 0;

    }

    to {

        opacity: 1;
        transform: translateX(0px);
    }

}

* {
    font-family: 'Sen', sans-serif;
    scroll-behavior: smooth;
    background-color: black;
    user-select: none;
    margin: 0;
}

body {
    overflow-x: hidden;
}

p,
h1,
div {
    background-color: transparent;
}

.first-page {
    font-family: 'Caveat', sans-serif;
    font-weight: lighter;
    user-select: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 50px;
    color: white;
}

.name-container {
    display: flex;
    gap: 60px;
}

.Tiago {
    opacity: 0;
    animation: SlideToTheLeft 0.8s ease-in 0.8s forwards;
}

.Dias {
    opacity: 0;
    animation: SlideToTheRight 0.8s ease-in 0.8s forwards;
}

.job {
    opacity: 0;
    animation: SlideUp 1s ease-in 1.5s forwards;
}





.case-studies-title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.case-studies {
    color: white;
    font-size: 125px;
    margin: 0;
}

.case-title {

    z-index: 10;

}

.case-stroke {
    position: absolute;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.projects-container {

    width: 75%;
    display: grid;
    /* gap: 1.5rem; */
    grid-auto-rows: 200px;
    grid-template-columns: repeat(2, calc(45% - 2rem));
    gap: 2rem;
    grid-template-areas:
        'so-far'
        'coimbra-reporta'
        'stonecast'
        'redlight'
        'to-do'
        'spacer'
    ;
    /* padding-block: 2rem; */
    margin-inline: 0;
    /* margin-bottom: 2rem; */
    margin-left: 12.5%;
}

.projects-overview {
    grid-area: so-far;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: cursive;
    color: white;
}

.image-container {
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    flex: 2;
}

.project-container {
    background-color: rgb(55, 53, 53);

    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}



.desc {
    width: 95%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2%;
    color: rgb(255, 255, 255);
    flex: 1;

}

.desc h1 {
    font-weight: bold;
    font-size: x-large;

}


.desc p {

    /*text-overflow: ellipsis;*/
    font-size: large;
    display: inline-block;
    /*white-space: nowrap;*/
}


/*COIMBRA REPORTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/


.coimbra-reporta-div {

    grid-area: coimbra-reporta;


}

.cr-img {

    background-image: url("./assets/CoimbraReportalogin.png");

}




/*STONECASTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT*/

.stonecast-div {

    grid-area: stonecast;

}

.stonecast-img {
    background-image: url("./assets/StoneCastHome.png");
}

.redlight-summerint-div {
    grid-area: redlight;

}

.redlight-summerint-img {
    background-image: url("./assets/RedlightHome.png");
}

.to-do-list-img {
    background-image: url("./assets/todolist.png");
}

/*TODO LISTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT*/

.to-do-list-div {

    grid-area: to-do;
}

.spacer {
    grid-area: spacer;
}

@media screen and (min-width: 769px) {
    .projects-container {
        grid-template-areas:
            "so-far coimbra-reporta"

            "stonecast coimbra-reporta"
            "stonecast redlight"
            "to-do redlight"
            "to-do spacer"

        ;
    }

    .exp-ft {
        color: white;
        position: absolute;
        top: 25%;
    }

    .p-switch {
        background-image: url("assets/switch.png");
        background-position: 1% center;
        width: 82px;
        height: 92px;
        position: absolute;
        top: 40%;

        transform: rotate(90deg);


    }

    .p-switch:hover {
        cursor: pointer;
    }

    .pressed-down {
        background-image: url("assets/switch.png");
        background-position: 33.5% center;
        pointer-events: none;
    }
    .coin-wrapper {
        background-color: transparent;
        position: absolute;
        perspective: 1000px;
        z-index: 90;
    }
    .coin {
        border-radius: 20%;
        background-color: transparent;
        width: 92px;
        height: 92px;
        margin-left: 0px;
        margin-top: 0px;
        position: absolute;
        z-index: 90;
        top: 20%;
        left: 3%;
        transform-style: preserve-3d;
        animation: spin 2.5s linear infinite;
    }

    .back {
        background-image: url("assets/coinsprites/coinsprite1.png");
        background-color: transparent;

        width: 92px;
        height: 92px;
        z-index: 90;
    }

    .middle {
        background-image: url("assets/coinsprites/coinsprite1.png");
        width: 92px;
        z-index: 90;
        background-color: transparent;


        height: 92px;
        background-position: center;
        transform: translateZ(1px);
        position: absolute;
        top: 0;
    }

    .front {
        background-image: url("assets/coinsprites/coinsprite1.png");
        height: 92px;
        z-index: 90;
        background-color: transparent;

        position: absolute;
        top: 0;
        transform: translateZ(10px);
        width: 92px;
    }

    .middle:nth-child(1) {
        background-color: transparent;

        transform: translateZ(1px);
        z-index: 90;
    }

    .middle:nth-child(2) {
        background-color: transparent;

        transform: translateZ(2px);
        z-index: 90;
    }

    .middle:nth-child(3) {
        background-color: transparent;

        transform: translateZ(3px);
        z-index: 90;
    }

    .middle:nth-child(4) {
        background-color: transparent;

        transform: translateZ(4px);
        z-index: 90;
    }

    .middle:nth-child(5) {
        background-color: transparent;

        transform: translateZ(5px);
        z-index: 90;
    }

    .middle:nth-child(6) {
        background-color: transparent;

        transform: translateZ(6px);
        z-index: 90;
    }

    .middle:nth-child(7) {
        background-color: transparent;

        transform: translateZ(7px);
        z-index: 90;
    }

    .middle:nth-child(8) {
        background-color: transparent;

        transform: translateZ(8px);
        z-index: 90;
    }

    .middle:nth-child(9) {
        background-color: transparent;

        transform: translateZ(9px);
        z-index: 90;
    }

    @keyframes spin {
        0% {
            transform: rotateY(0deg);
        }

        100% {
            transform: rotateY(360deg);
        }
    }
}

@media screen and (max-width: 768px) {
    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    .projects-container {
        margin-top: 5%;
        grid-template-areas:
            "so-far"
            "coimbra-reporta"
            "stonecast"
            "redlight"
            "to-do"
            "spacer";
        grid-template-columns: 1fr;
        gap: 1rem;
        display: flex;
        flex-direction: column;

        grid-auto-rows: 400px;
    }
    .name-container {
        display: flex;
        gap: 30px;
    }

    .projects-overview {
        font-size: 2rem;
    }

    .project-container {
        flex-direction: column;
        font-size: 1rem;
        flex: 1;

    }

    .desc {
        width: 100%;
        height: auto;
    }

    .desc h1 {
        font-size: 2rem;
    }

    .desc p {
        font-size: 0.9rem;
        padding: 20px;
    }

    .image-container {
        flex: 2;

        background-size: contain;
        background-repeat: no-repeat;
        min-height: 200px;
    }

    .fa-brands,
    .fa-envelope {
        transform: scale(0.5);
    }

    .fa-brands:hover,
    .fa-envelope:hover {
        animation: 0.2s 0s infinite alternate hover-effect;


        transform: scale(0.5);
    }

    .first-page {
        margin: 0;
        font-family: 'Caveat', sans-serif;
        font-weight: lighter;
        user-select: none;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 2rem;
        color: white;
    }

    .animated-title,
    .case-stroke,
    .contact-stroke {
        font-size: 2.5rem;
    }

    .contact-wrapper {
        display: flex;
        justify-content: center;
    }

}

.animated-title {
    z-index: 9;
}

.contact-me-title-div {
    font-size: 3rem;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact-stroke {
    position: absolute;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.contact-title {
    color: white;
    z-index: 10;
}

.lets-talk {
    color: white;
    font-size: 2.5rem;
}

.fa-envelope {
    color: white;
}

.custom-icon {
    color: white;
    background-color: black;
    border: 1px solid black;
}

.fa-brands:hover,
.fa-envelope:hover {



    animation: 0.2s 0s infinite alternate hover-effect;
}

@keyframes hover-effect {
    from {

        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}

.contact-wrapper {
    display: flex;
    justify-content: space-evenly;
}