@font-face {
    font-family: 'Caveat';
    src: url(./Caveat-Regular.ttf);
}

@font-face {
    font-family: 'Sen';
    src: url(./fonts/Sen/Sen-VariableFont_wght.ttf);
}

@keyframes SlideToTheRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

@keyframes SlideToTheLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

@keyframes SlideUp {
    from {
        transform: translateY(80px) rotate(0);
        opacity: 0;

    }

    to {

        opacity: 1;
        transform: translateX(0px) rotate(360deg);
    }

}


* {
    font-family: 'Sen', sans-serif;
    scroll-behavior: smooth;
    background-color: black;

}
p,h1,div {background-color: transparent;}

.first-page {
    font-family: 'Caveat', sans-serif;
    font-weight: lighter;
    user-select: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 50px;
    color: white;
}

.name-container {
    display: flex;
    gap: 60px;
}

.Tiago {
    opacity: 0;
    animation: SlideToTheLeft 0.8s ease-in 0.8s forwards;
}

.Dias {
    opacity: 0;
    animation: SlideToTheRight 0.8s ease-in 0.8s forwards;
}

.job {
    opacity: 0;
    animation: SlideUp 1s ease-in 1.5s forwards;
}

.type {
    position: absolute;
    bottom: 0%;
    left: 5%;
}

#coimbra-reporta-title {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.buttoncontainer {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-evenly;
}

.B {
    border-color: white;
    border-radius: 6px;
    background-color: black;
    color: white;
    box-shadow: 0 0 5px 1px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 10px;
}

.B.code:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.B.preview:hover {
    background-color: white;
    color: black;
    border-color: black;
}








.projects-container {
    height: auto;
    width: 90%;
    position: absolute;
    left: 5%;
    display: grid;
    gap: 1.5rem;
    grid-auto-rows: minmax(70%, auto);
    grid-auto-columns: minmax(50%, auto);
    grid-template-areas:
        'so-far'
        'coimbra-reporta'
        'stonecast'
        'redlight'
        'to-do'
    ;
    padding-block: 2rem;
    margin-inline: auto;
}

.projects-overview {
    grid-area: so-far;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: cursive;
    color: white;
}
.image-container {
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    border: solid 1px black;
}
.project-container{
    background-color: rgb(55, 53, 53);
    
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
img {
    max-width: 100%;
}
.desc {
    height: 40%;
    max-width: 40vw;

    display: flex;
    flex-direction: column;
    margin-left: 2%;
    color: rgb(255, 255, 255);

}
.desc h1{
    font-weight: bold;
    font-size: xx-large;

}


.desc p {

    text-overflow: ellipsis;
    font-size: x-large;
    font-weight: bold;
    white-space: nowrap;
}


/*COIMBRA REPORTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/


.coimbra-reporta-div {
    
    grid-area: coimbra-reporta;
  

}

.cr-img {
    
    background-image: url("./assets/CoimbraReportalogin.png");
    
}




/*STONECASTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT*/

.stonecast-div {
  
    grid-area: stonecast;
    
}

.stonecast-img {
    background-image: url("./assets/StoneCastHome.png");
}

.redlight-summerint-div {
    grid-area: redlight;
  
}
.redlight-summerint-img{
    background-image:url("./assets/RedlightHome.png") ;
}



/*TODO LISTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT*/

.to-do-list-div {

    grid-area: to-do;
}

@media screen and (min-width: 33em) {
    .projects-container {
        grid-template-areas:
            "so-far coimbra-reporta"

            "stonecast coimbra-reporta"
            "stonecast redlight"
            "to-do redlight"
         
        ;
    }
}